<!--
Settings tab (bound to SettingsViewModel)
-->      
<div id="settings" class="tab-pane" role="tabpanel">
    <div class="section-heading">
        <h4 class="sub-header">
            <span class="glyphicon glyphicon-cog" aria-hidden="true" style="padding-right:5px;"></span>
            Settings
            <a class="section-toggle" data-toggle="collapse" href="#settings-body"></a>
        </h4>
    </div>
    <div id="settings-body" class="section-body collapse in">
        <div class="panel panel-default">
            <div class="panel-heading">Date/Time Settings</div>
            <div class="panel-body">
                <text class="label">Auto Detect Time Zone:</text>
                <input type="checkbox" data-bind="checked: timeZoneDetectEnabled"/>
                <text class="label">Use 24 Time:</text>
                <input type="checkbox" data-bind="checked: use24Time"/>
            </div>
        </div>
    </div>
</div>  
