<div id="info-weather-panel" class="panel panel-default" style="height: 100%;">
    <div class="row">
        <div class="col-md-4 col-sm-6 panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Air Temperature</h4>
            </div>
            <div class="panel-body"> 
            </div>
        </div>
        <div class="col-md-4 col-sm-6 panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Relative Humidity</h4>
            </div>
            <div class="panel-body">
            </div>
        </div>
        <div class="col-md-4  col-sm-6 panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Wind Speed</h4>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>

